
<!--  Create new user Form -->
<form name="reviewForm" ng-submit="addUser(user)" >

  <!--  creation Form -->
  <h4>  a new User</h4>

  <fieldset class="form-group">
    Name: <input type="text" ng-model="user.name" class="form-control" title="Name" required><br>
  </fieldset>
  <fieldset class="form-group">
    Surname: <input type="text" ng-model="user.surname" class="form-control" title="Surname" required><br>
  </fieldset>

  <fieldset class="form-group">
   Email: <input ng-model="user.email" type="email" class="form-control" placeholder="Example@example.com" title="Email" required>
  </fieldset>

  <fieldset class="form-group">
    Website: <input ng-model="user.website" type="url" class="form-control"  title="Url" required>
  </fieldset>

  <fieldset class="form-group">
    <input type="submit"  value="Create User" />
  </fieldset>
</form>
