
<body ng-controller="ProjectsCtrl">
<head>
  <link rel="stylesheet" href="styles/form.css" />
</head>


<h1>Projects</h1>


<div id="actions" >
  <button ng-click="setAction(1)" type="button" id="searchButton">Search</button>
  <button ng-click="setAction(2)" type="button" id="createButton">Create</button>
</div>


<!-- Recherche
<div class="search" ng-show="isSelected(1)" id="search"    ><br><div ng-include src="'views/searchForm.html'" ></div></div>-->
<div  ng-show="isSelected(1)">
  <form>
    <fieldset class="form-group">
      Name: <input type="text" ng-model="nameSearched">
      <select>
        <option  value="">Name</option>
      </select><br>
    </fieldset>
  </form>
</div>

<!-- show list of projects -->
<div class="search"  ng-show="nameSearched" ng-include src="'views/listProjects.html'"><br></div>

<!-- Formulaire creation-->
<div class ="creation" ng-show="isSelected(2)" >
  <!--  Create new user Form -->
  <form name="reviewForm" ng-submit="addProject()" >

    <!--  creation Form -->
    <h4>  A new Project</h4>

    <fieldset class="form-group">
      Title: <input type="text" ng-model="newProject.title" class="form-control" title="title" required><br>
    </fieldset>
    <fieldset class="form-group">
      Description: <input type="text" ng-model="newProject.description" class="form-control" title="Description" required><br>
    </fieldset>

    <fieldset class="form-group">
      Year: <input ng-model="newProject.year"  type="text" class="form-control"  title="Year" required>
    </fieldset>


    <!--    <button ng-click="addProjects()">Ajouter Project</button>
        <div ng-repeat=" n in nbProjects "></div>
        <fieldset class="form-group">
          Project: title:<input ng-model="newProject.title" type="url" class="form-control"  title="Url" > Role : <input ng-model="newRole.name" type="url" class="form-control"  title="Url" >
        </fieldset>-->

    <fieldset class="form-group">
      <input type="submit"  value="Create Project" />
    </fieldset>
  </form>

</div><!--TODO add ng-submit -->

</body>
