<div class="infos" >
  name: <input name="id" type="text" ng-model="user.name" ng-value="user.name"  ng-readonly="!valueModif" /><br/>
  surname: <input name="id" type="text" ng-model="user.surname" ng-value="user.surname"  ng-readonly="!valueModif" /><br/>
  email: <input name="id" type="text" ng-model="user.email" ng-value="user.email"  ng-readonly="!valueModif" /><br/>
  website: <input name="id" type="text" ng-model="user.website" ng-value="user.website"  ng-readonly="!valueModif" /><br/>
{{user.name}}
{{user.surname}}
  <div id="projects" ng-repeat="project in user.projects" >
  Projects: <input name="id" type="text" ng-value="user.projects"  ng-readonly="!valueModif" /><br/>
  Roles: <input name="id" type="text" ng-value="user.website"  ng-readonly="!valueModif" /><br/>
  </div>


  <button ng-click="setModif(true)" class="modify">Modify</button>
  <button ng-show="valueModif" ng-click="editUser(user)" class="ok">OK</button>
  <button ng-show="valueModif" ng-click="cancel()"  class="cancel">Cancel</button>
  <button class="delete">Delete</button>
  <br/><br/>
</div>
